{
    "msg_1": "Message 1",
    "tpl_1": "Path to TPL or PNG 1",
    "msg_2": "Message 2",
    "tpl_2": "Path to TPL or PNG 2",
    "msg_3": "Message 3",
    "tpl_3": "Path to TPL or PNG 3",
    "msg_4": "Message 4",
    "tpl_4": "Path to TPL or PNG 4"
}